.rounded {
	/* border: 1px solid #212529; */
	border-radius: 8px;
}

.pomodoro-timer {
	display: flex;
	flex-direction: column;
	padding: 1.6rem;
	row-gap: 2.4rem;
	overflow: hidden;
	max-width: 120rem;
	margin: 0 auto;
}

.timer-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	row-gap: 2.4rem;
	width: 100%;
	background-color: #eee;
	padding: 1.6rem 0;
}

.container {
	width: 100%;
	max-width: 48rem;
	align-self: center;
	overflow-x: hidden;
	margin-bottom: 1.2rem;
}
