li {
	list-style: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

.outline {
	border: 1px solid black;
	border-radius: 8px;
}

.pomodoro-timer {
	display: flex;
	flex-direction: column;
	padding: 3.6rem;
	row-gap: 2.4rem;
	max-width: 60rem;
}
.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 48;
}
