.digital-clock {
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
	padding: 12px 0;
}

.digital-digits {
	font-size: 12rem;
	font-family: 'Roboto Mono', monospace;
	font-weight: 100;
}
