.expand-toggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
	padding: 1rem;
	font-size: 1.6rem;
	width: 100%;
}

.expand-button {
	width: 28px;
	height: 28px;
}
